<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>Controller.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userList</servlet-name>
        <servlet-class>Controller.userList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUser</servlet-name>
        <servlet-class>Controller.addUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectServlet</servlet-name>
        <servlet-class>Controller.ClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactAdminServlet</servlet-name>
        <servlet-class>Controller.ContactAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactAdminDetailServlet</servlet-name>
        <servlet-class>Controller.ContactAdminDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonManageServlet</servlet-name>
        <servlet-class>Controller.LessonManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChapterManageServlet</servlet-name>
        <servlet-class>Controller.ChapterManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateChapterManageServlet</servlet-name>
        <servlet-class>Controller.UpdateChapterManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteChapterManageServlet</servlet-name>
        <servlet-class>Controller.DeleteChapterManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogle</servlet-name>
        <servlet-class>Controller.LoginGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingsListController</servlet-name>
        <servlet-class>Controller.SettingsListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingAddController</servlet-name>
        <servlet-class>Controller.SettingAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingDetailController</servlet-name>
        <servlet-class>Controller.SettingDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingUpdateStatusController</servlet-name>
        <servlet-class>Controller.SettingUpdateStatusController</servlet-class>
    </servlet>    
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userList</servlet-name>
        <servlet-class>Controller.userList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userList</servlet-name>
        <url-pattern>/userList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUser</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>courseList</servlet-name>
        <url-pattern>/courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactAdminServlet</servlet-name>
        <url-pattern>/managecontact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactAdminDetailServlet</servlet-name>
        <url-pattern>/contactdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectServlet</servlet-name>
        <url-pattern>/subject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonManageServlet</servlet-name>
        <url-pattern>/lessonManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChapterManageServlet</servlet-name>
        <url-pattern>/chapterManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateChapterManageServlet</servlet-name>
        <url-pattern>/updateChapter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteChapterManageServlet</servlet-name>
        <url-pattern>/deleteChapter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingsListController</servlet-name>
        <url-pattern>/settingsList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingDetailController</servlet-name>
        <url-pattern>/settingdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingAddController</servlet-name>
        <url-pattern>/settingadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingUpdateStatusController</servlet-name>
        <url-pattern>/settingstatus</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>LoginGoogle</servlet-name>
        <url-pattern>/LoginGoogle</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
