/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 4, 2023, 4:21:18 PM
    Author     : VIETHUNG
*/




.btn-success {
    background-color: #fc8137;
    border-color: #df691c;
}

.btn-primary {
    background-color: #000000;
    border-color: #49454d;
}

.button-content{
    text-align: center;
}